#syllabus-page {
  padding: 50px 10vw;

  background-image: url("../../assets/images/syllabus/syllabus-bg.png");
  background-position: center;
  background-size: 520px 520px;
  background-repeat: no-repeat;
}

@media only screen and(max-width: 768px) {
  #syllabus-page {
    padding: 50px 5vw 0;
  }
}
