#syllabus-page {
  padding: 50px 10vw;

  background-image: url("../../assets/images/syllabus/syllabus-bg.png");
  background-position: center;
  background-size: 520px 520px;
  background-repeat: no-repeat;
}
