@import "../../constants.scss";

.elevated-button {
  cursor: pointer;

  color: $black;
  background-color: $white;

  padding: 15px 40px;

  font-family: "Poppins";

  transition: all 0.3s ease-in-out;
}

.elevated-button:hover {
  background-color: $yellow;
}
