@import "../../constants.scss";

#hero-section {
  margin-bottom: 100px;
  padding: 0;

  width: 100vw;

  .left {
    padding-left: 5vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-image: url("../../assets/images/homepage/hero-section-image.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 90vh;
    h1 {
      font-family: "Benzin-Bold";
      letter-spacing: 4px;
    }

    h1:nth-child(2) {
      color: $yellow;
      margin-bottom: 5px;
    }

    h5 {
      margin-bottom: 10px;
    }

    .elevated-button {
      margin: 20px 0 10px;
      width: 40%;
    }

    #hero-section-videos {
      width: 50%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h5 {
        margin: 20px 0;
      }

      #hero-section-videos-section {
        display: flex;
        justify-content: space-between;

        iframe {
          height: 185px;
          width: 350px;
          border: 2px solid $white;
        }

        iframe:first-child {
          margin-right: 20px;
        }
      }
    }
  }
}

#history-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .left {
    flex: 3;
    height: 100%;
    padding: 20px 5vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-family: "Benzin-Bold";
      letter-spacing: 6px;
      margin-bottom: 20px;
    }
  }

  .right {
    flex: 1;
  }
}

#chief-section {
  margin: 100px 0;
  width: 100vw;
  padding: 20px 5vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-image: url("../../assets/images/homepage/chief-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;

  h2 {
    font-family: "Benzin-Bold";
    letter-spacing: 4px;
  }

  #chief-section-content {
    width: 100%;

    .top {
      margin-top: 50px;

      h4 {
        letter-spacing: 2px;
        line-height: 40px;
      }
    }

    .bottom {
      margin-top: 50px;

      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
    }
  }
}

@media only screen and(max-width: 1024px) {
  #hero-section {
    .left {
      background-image: none;

      .elevated-button {
        width: 60%;
      }

      #hero-section-videos {
        width: 75%;
      }
    }

    .mobile-hero-img {
      height: 500px;
      width: 100%;

      background-image: url("../../assets/images/homepage/hero-section-image.png");
      background-repeat: no-repeat;
      background-position: right;
    }
  }

  #history-section {
    flex-direction: column;
    align-items: center;

    .right {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  #chief-section {
    background-position: right;

    #chief-section-content {
      .bottom {
        flex-wrap: wrap;
      }
    }
  }
}

@media only screen and(max-width: 768px) {
  #hero-section {
    .left {
      .elevated-button {
        width: 80%;
      }
    }
  }

  #chief-section {
    #chief-section-content {
      .top {
        h4 {
          letter-spacing: 1px;
          line-height: 28px;
        }
      }
      .bottom {
        .member-card {
          margin-bottom: 40px;
        }
      }
    }
  }
}

@media only screen and(max-width: 468px) {
  #hero-section {
    .left {
      .elevated-button {
        width: 90%;
      }

      #hero-section-videos {
        #hero-section-videos-section {
          flex-direction: column;

          iframe {
            margin-bottom: 20px;
          }
        }
      }
    }

    .mobile-hero-img {
      width: 100%;

      background-size: contain;
    }
  }
}
