@import "../../constants.scss";

#hero-section {
  height: 90vh;
  width: 100vw;
  padding: 0 5vw;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h1 {
      font-family: "Benzin-Bold";
      letter-spacing: 6px;
    }

    h1:nth-child(2) {
      color: $yellow;
    }

    h5:nth-child(1) {
      width: 80%;
    }

    .elevated-button {
      width: 80%;
    }

    #hero-section-videos {
      width: 85%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h5 {
        margin: 20px 0;
      }

      #hero-section-videos-section {
        display: flex;
        justify-content: space-between;

        iframe {
          height: clamp(150px, 20vh, 250px);
          width: clamp(200px, 20vw, 400px);
          border: 2px solid $white;
        }
      }
    }
  }

  .right {
    img {
      height: 830px;
      width: 907px;
      aspect-ratio: contain;
    }
  }
}

#history-section {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-family: "Benzin-Bold";
    letter-spacing: 6px;
  }

  #history-section-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .left {
      height: 100%;
      padding: 20px 5vw;

      display: flex;
      flex-direction: column;
      justify-content: center;

      h4 {
        letter-spacing: 2px;
        line-height: 40px;
        margin-bottom: 50px;
      }
    }
  }
}

#chief-section {
  margin: 50px 0;
  padding: 20px 5vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-family: "Benzin-Bold";
    letter-spacing: 6px;
  }

  .top {
    margin-top: 50px;

    h4 {
      letter-spacing: 2px;
      line-height: 40px;
    }
  }

  .bottom {
    margin-top: 50px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
