#organization-page {
  h2 {
    margin: 100px 0;

    font-family: "Benzin-Bold";
    letter-spacing: 2px;
  }

  #organization-bod,
  #organization-jp,
  #organization-bb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .row {
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  #organization-bod {
    .member-card {
      margin: 20px 0;
    }
  }

  #organization-jp {
    .organization-jp-list {
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-wrap: wrap;

      .member-card {
        width: 250px;
        margin-bottom: 40px;

        img {
          height: 180px;
          width: 180px;
        }
      }
    }
  }

  #organization-bb {
    margin-bottom: 100px;

    #organization-bb-list {
      max-height: 85vh;
      width: 80%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
}

@media only screen and(max-width: 1366px) {
  #organization-page {
    #organization-bb {
      #organization-bb-list {
        max-height: 120vh;
      }
    }
  }
}

@media only screen and(max-width: 1024px) {
  #organization-page {
    h2 {
      margin: 50px 0;
      padding: 0 40px;
      text-align: center;
    }

    #organization-jp {
      .organization-jp-list {
        .member-card {
          margin: 20px 0;
        }
      }
    }

    #organization-bb {
      #organization-bb-list {
        max-height: min-content;
        align-items: center;
      }
    }
  }
}

@media only screen and(max-width: 768px) {
  #organization-page {
    #organization-bod {
      .row {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
