$black: #010101;
$white: #f0f0f0;
$gray: #a6a6a6;
$yellow: #f8d114;

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: 400;
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
}

@media only screen and(max-width: 1366px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}

@media only screen and(max-width: 768px) {
  h1 {
    // font-size: 3rem;
    font-size: clamp(2.5rem, calc(1.1719rem + 6.25vw), 3rem);
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h5 {
    font-size: 1rem;
  }
}

@media only screen and(max-width: 468px) {
  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}
